<div ng-app="selectDemoBasic" ng-controller="AppCtrl" layout="column" layout-gt-md="row" layout-align-gt-md="space-around center" layout-align="center center" style="min-height: 400px;">
  <div flex class="select-demo">
    <md-select ng-model="selectedItem">
      <md-option ng-repeat="i in [1, 2, 3, 4, 5]" value="{{i}}">{{i}}</md-option>
    </md-select>
  </div>
  <div flex class="select-demo">
    <md-select ng-model="selectedItems" multiple>
      <md-select-label>Multiple Select: {{ selectedItems }}</md-select-label>
      <md-option ng-repeat="i in [1, 2, 3, 4, 5]" value="{{i}}">{{i}}</md-option>
    </md-select>
  </div>
  <div flex class="select-demo">
    <md-select ng-model="asyncSelection" md-on-open="loadAsync()">
      <md-select-label>Async Selection: {{ asyncSelection }}</md-select-label>
      <md-option ng-repeat="opt in asyncOptions" ng-value="opt.id">{{opt.text}}</md-option>
    </md-select>
  </div>
</div>
